# Ignore virtual environments
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env
.venv

# Ignore system / editor junk
.DS_Store
Thumbs.db

# Ignore local data outputs
reports/
*.log

# Keep model and data (remove # if you want to ignore them)
# models/
# data/
